body{
    background-image: url(https://avatars.mds.yandex.net/i?id=db973dc2e2e259649bcfb39cdd5cb340-4538910-images-thumbs&n=13);
        height: 100px;
        background-repeat: repeat;
        /* Убирает плитку под фоткой */
       
}

.text {
    font-family: 'Arial', sans-serif; 
    /* Настраивает выбранный шрифт */
    font-size: 40px; 
    color: #2e455c; 
    text-transform: uppercase; 
    /* C помощью этого можно сделать бквы заглавными  */
    letter-spacing: 2px; 
    /* Увеличивает расстояние между буквами */
    margin: 20px 0;
     /*отступ сверху и снизу  */
    padding: 5px; 
    -webkit-background-clip: text; 
    /* Обрезает фон по границам текста */
    -webkit-text-fill-color: transparent;
     /* делает текст прозрачным  */
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.2); 
/*Добавляет тень вокруг текста  */
    background-color: rgb(25, 53, 212);
    text-align: center; 
    animation: fadeIn 5s infinite; /* Запускаем анимацию */
    /*  */
}
  
h1 {
    text-align: center;


  }
  
  @keyframes fadeIn {
    /* KeyFrames - это покадровая анимация */
    0%{
      background-color: #c8def2;
    }
     50%{
      background-color: rgb(0, 47, 85);
    }
    100%{
        background-color: #c8def2;
      }
  }
  
 

 ul{
    text-align: center;
    list-style: none;
    /* В списках убирает не нужные стили */
   
 }
 a{
    text-decoration: none;
    font-size: x-large;
  color: rgb(34, 18, 122);
  text-shadow:
  /* Тени */
  0 0 7px #ecdfdf,
  0 0 10px #00747c,
  0 0 21px #7933bb,
  0 0 42px rgb(0, 0, 0),
  0 0 82px rgb(28, 136, 179),
  0 0 92px rgb(0, 0, 0),
  0 0 102px rgba(90, 209, 183, 0.966),
  0 0 151px rgb(112, 184, 181);
 }
 h1 {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px #007bff;
    /* Добавляет тени */
    animation: glow 1.5s infinite alternate;
    /* Запускает анимацию, которую можем настроить */
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #007bff, 0 0 20px #007bff, 0 0 30px #007bff;
    }
    to {
      text-shadow: 0 0 5px #007bff, 0 0 10px #007bff, 0 0 15px #007bff;
    }
  }

  a {
    position: relative;
    color: #333;
    text-decoration: none;
    /* Отключение нижнего подчеркивания */
  }
  
  a::after {
    /* after нужен для вставки контента после содержимого элемента к которому применяется */
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.4s;
   font-size: 50px;    
  }
  
  a:hover::after {
/* hover - стиль при наведении мыши */
    width: 100%;
    font-size: 50px;
  }
  
  a:hover {
    font-size: 30px;
    transition: 0.5s;
  }
  
p {
  color: rgb(175, 175, 175);
}