.p {
    font-style: small-caps; background: red; padding-left: 18px;
}

.red {
    background-color: red;
}

.h1 {
    color: red; text-align: right;
}

.t5 {
    background-color: rgb(228, 199, 255);
    width: 400px;
    height: 100px;
    margin-left: 40%;
}
.t5c {
    align-items: center;
    color: purple;
    text-shadow: 2px 1px 1px rgba(0, 0, 0.5);
    font-size: 45px;
    margin: 0;
}

.t5x {
    margin: 0;
    font-size: 25px;
    color: plum
}

.x6 {
    width: 530px;
    height: 370px;
    background-color: #00feff;
    margin-left: 37%;
}

.x6x {
    font-size: 18px;
}

.x6x::first-letter {
    margin: 0;
    color: green;
    font-size: 55px;
    font-weight: 700;
    line-height: 1;
    float: left;
}

.d7 {
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 20px;
}

.d7x {
    font-size: 14px;
    font-family: 'Monotype Corsiva', cursive;
}
 
.d7img {
    width: 400px;
    height: 200px;
    border: 10px solid blue;
}

.tb {
    border: 10px solid blue;
    border-collapse: collapse; 
    width: 100%; 
}

.q {
    background-color: yellow; 
    color: red; 
    border: 3px red dashed; 
    padding: 10px;
}

.qm {
    background-color: green; 
    border: 2px solid yellow; 
    padding: 10px; 
}